step_function.json
{
  "Comment": "Game level completion workflow using parallel execution for report generation and database updates, followed by CloudWatch metrics.",
  "StartAt": "ProcessLevelCompletion",
  "States": {
    "ProcessLevelCompletion": {
      "Type": "Parallel",
      "Comment": "Execute report generation and database update in parallel",
      "Next": "PublishMetrics",
      "Branches": [
        {
          "StartAt": "GenerateReport",
          "States": {
            "GenerateReport": {
              "Type": "Task",
              "Comment": "Generate and upload level completion report to S3",
              "Resource": "arn:aws:lambda:us-west-2:ACCOUNT_ID:function:generate_report",
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckLevelType",
          "States": {
            "CheckLevelType": {
              "Type": "Choice",
              "Comment": "Route to appropriate handler based on level type",
              "Choices": [
                {
                  "Variable": "$.level",
                  "StringEquals": "latest",
                  "Next": "HandleLastLevel"
                }
              ],
              "Default": "HandleSimpleLevel"
            },
            "HandleLastLevel": {
              "Type": "Task",
              "Comment": "Record game completion for final level",
              "Resource": "arn:aws:lambda:us-west-2:ACCOUNT_ID:function:ends_last_level",
              "End": true
            },
            "HandleSimpleLevel": {
              "Type": "Task",
              "Comment": "Update progress for non-final levels",
              "Resource": "arn:aws:lambda:us-west-2:ACCOUNT_ID:function:ends_simple_level",
              "End": true
            }
          }
        }
      ]
    },
    "PublishMetrics": {
      "Type": "Task",
      "Comment": "Publish game metrics to CloudWatch",
      "Resource": "arn:aws:lambda:us-west-2:ACCOUNT_ID:function:put_metric",
      "End": true
    }
  }
}